<div class="text-white m-2">
  <div class="bg-info p-2">
    There are {{getBonsaisCount()}} bonsais.
  </div>
  <div class="bg-info text-white p-2">
    Selected Bonsai: {{selectedBonsai?.tag || '(None)'}}
  </div>
  <div *ngIf="selectedBonsai" class="form-group w-25">
    <label>Tag</label>
    <input class="form-control" [(ngModel)]="newBonsaiTag" />
    <div class="clearfix">
      <button class="btn btn-primary float-right mt-2" (click)="updateBonsaiTag()">Update</button>
    </div>
  </div>
  <div class="bg-secondary">
    Choose styling:
    <input type="radio" name="listStyle"
           [checked]="stylingBy === 'style'"
           value='Style'
           (change)="setStylingBy('style')"> Style
    <input type="radio" name="listStyle"
           [checked]="stylingBy === 'costAmount'"
           value='Cost'
           (change)="setStylingBy('costAmount')"> Cost
  </div>
  <table class="table table-sm table-bordered mt-1 text-dark table-hover">
    <tr>
      <th></th>
      <th (click)="setSortListBy('tag')">Tag</th>
      <th (click)="setSortListBy('taxon.family')">Family</th>
      <th (click)="setSortListBy('taxon.fullName')">Species</th>
      <th (click)="setSortListBy('source')">Source</th>
      <th (click)="setSortListBy('dateAcquired')">Date acquired</th>
      <th (click)="setSortListBy('costAmount')">Cost</th>
      <th (click)="setSortListBy('style')">Style</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of getBonsaiPage() trackBy:getID"
        [ngStyle]="getBonsaiRowStyle(item)"
        [class.bg-success]="getSelected(item)"
        (mouseover)="mouseoverBonsaiID=item.id"
        (click)="selectedBonsai=item; newBonsaiTag=item.tag">
      <td [class.bg-danger]="getMouseOvered(item)"></td>
      <td >{{item.tag}}</td>
      <td>{{item.taxon.family}}</td>
      <td>{{item.taxon.fullName}}</td>
      <td>{{item.source}}</td>
      <td>{{item.dateAcquired | date:'dd MMM yyyy' }}</td>
      <td>{{item.costAmount | currency:'GBP'}}</td>
      <td>{{item.style}}</td>
      <td><button type="button" class="btn btn-xs btn-secondary btn-outline-danger btn-del" (click)="selectedBonsai=item; delBonsai()">x</button></td>
    </tr>
  </table>

  <div class="clearfix">
    <div class="btn-group float-right">
      <button *counter="let page of pageCount" (click)="changePage(page)"
              class="btn btn-outline-primary"
              [class.active]="page == selectedPage">
        {{page}}
      </button>
    </div>
  </div>
  <hr/>

  <div class="w-50 text-dark">
    <div class="form-group">
      <app-taxon-select [selectedTaxonId]=selectedTaxonId (selectedTaxonChanged)="selectedTaxonChangedHandler($event)"></app-taxon-select>
    </div>
    <div class="form-group">
      <label>Tag</label>
      <input class="form-control" [(ngModel)]="newBonsai.tag" />
    </div>
    <div class="form-group">
      <label>Source</label>
      <input class="form-control" [(ngModel)]="newBonsai.source" />
    </div>
    <div class="form-group">
      <label>Date acquired</label>
      <input class="form-control" [(ngModel)]="newBonsai.dateAcquired" />
    </div>
    <div class="form-group">
      <label>Cost</label>
      <input class="form-control" [(ngModel)]="newBonsai.costAmount" />
    </div>
    <div class="form-group">
      <label>Style</label>
      <input class="form-control" [(ngModel)]="newBonsai.style" />
    </div>
    <button class="btn btn-primary float-right mt-2" (click)="addBonsai()">Create</button>
    <button class="btn btn-primary float-right mt-2" (click)="incrementSelectedTaxonId()">Test child</button>
  </div>
</div>

